<!DOCTYPE html>
<html>
  <head>
    <title>ONO</title>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="ono">
    <meta name="author" content="jacksontom">
    <script src='https://res.wx.qq.com/open/js/jweixin-1.2.0.js'></script>

  </head>
  <body>
  <div style="margin:0 auto;overflow:hidden; width:0; height: 0; display: block;">
    <img src="http://oz4uatl7r.bkt.clouddn.com/uploads/asset/content/201806071034P5c36ced538c23bcd58b2a7836fa626fd.png
?imageView2/2/w/500/h/500/interlace/1/q/100|imageslim" />
  </div>
    <div id="app"></div>
  </body>
</html>
